<p>is modified by</p>
<ul>
    {{#each modifiers}}
        <li>executing <span class="color1">{{this.name}}</span> {{#if this.arguments.length}}with arguments {{#each this.arguments}}<span class="color2">{{this.name}} {{this.typeDescriptions.typeString}}</span>, {{/each}}{{/if}}</li>
    {{/each}}
</ul>
